In [57]:
##### DOWNLOAD DATASET #####
from IPython.display import clear_output
from google.colab import files
files.upload()
!ls -lha kaggle.json
!pip install -q kaggle # installing the kaggle package
!mkdir -p ~/.kaggle # creating .kaggle folder where the key should be placed
!cp kaggle.json ~/.kaggle/ # move the key to the folder
!pwd # checking the present working directory
!chmod 600 ~/.kaggle/kaggle.json

!kaggle datasets download -d gsimonx37/letterboxd
!unzip /content/letterboxd.zip -d /content/letterbox/
clear_output()
############################

In [58]:
########### SPARK CONTEXT #####################
import pandas as pd
import itertools

!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better

sc = spark.sparkContext
###############################################

In [59]:
############## BASKET CREATION ################
#TODO do it using SPARK directly -> cars = spark.read.csv('cars.csv', header=True, sep=";")
actors = pd.read_csv("letterbox/actors.csv")
baskets = actors.groupby("id")["name"].apply(list)

print("number of baskets: " + str(len(baskets)))
print("biggest basket: " + str(baskets.map(len).max()))
print(baskets)
baskets_RDD = sc.parallelize(baskets).cache()
##############################################

number of baskets: 603163
biggest basket: 451
id
1000001    [Margot Robbie, Lewis Easter, Onyemachi Ejimof...
1000002    [Rosie Peralta, Anna Elisabeth Rihlmann, Andre...
1000003    [Randall Archer, Boon Pin Koh, Efka Kvaracieju...
1000004    [Leonard Termo, Greg Bronson, Michael Arturo, ...
1000005    [Lena Georgas, Jeff Hephner, Elyes Gabel, Broo...
                                 ...
1896377    [Marat Basharov, Sergey Rost, Gleb Kalyuzhny, ...
1896382                                   [Marine Petrosyan]
1896387                                        [Rebecca Jim]
1896391                                       [Ko Shibasaki]
1896393                                    [Atsuhiro Inukai]
Name: name, Length: 603163, dtype: object

In [65]:
baskets_RDD.getNumPartitions()

2

In [140]:
## APRIORI
def apriori(chunk, s, tot_bsk):

  n_bsk = 0 # number of baskets in chunk used to calculate support
#  trsl = dict() # using a translation could be better for the combination step
  count = dict() # should be relatively efficient since is a hash table

#
#  def translate(e, dic):
#    try:
#      return dic[e]
#    except KeyError:
#      dic[e] = len(dic)+1
#      return dic[e]
  def incr(e,dic):
    try:
      dic[e] += 1;
    except KeyError:
      dic[e] = 1


  ### first pass
  for bsk in chunk:
    n_bsk += 1;
    #elements = [translate(x,trsl) for x in bsk]
    for b in bsk:
      incr(b,count)

  ### filter
  to_del = []
  for c in count:
    if count[c] < n_bsk * s/tot_bsk:
      to_del.append(c)
  for t in to_del:
    del count[t]

  frequent = list(count.keys())
  frequent.sort()

  count_2 = dict()
  ### second pass
  for bsk in chunk:
    for pair in itertools.combinations(frequent, 2): #this already solve the order problem
      if pair.first in bsk and pair.second in bsk:
        incr(str(pair), count_2)

  to_del = []
  for c in count_2:
    if count_2[c] < n_bsk * s/tot_bsk:
      to_del.append(c)
    for t in to_del:
      del count_2[t]

  ### out
  for c in count_2:
    yield (c,1)

In [141]:

def first_red(key,value):
  yield key
def second_map(candidate, chunk):
  yield (1,1)
def second_red(key,value):
  yield key

chunk = 1; #TMP to remove
s = 6; #support threshold
tot = len(baskets)

baskets_RDD.mapPartitions(lambda x: apriori(x,s,tot)).reduceByKey(lambda a,b: a).collect()

[]

In [97]:
print(min(actors["id"]))
print(max(actors["id"]))
print(len(actors))
len(set(actors["name"]))

1000001
1896393
5523327

1513888

In [98]:
print(len(baskets))

603163

In [115]:
len(actors[actors['name'] == 'Bess Flowers'])

688

In [129]:
#x = [1,2,3,4,5,6,9]
x = ["abaco","banana", "zorro","abba","abecedario"]
for i in itertools.combinations(x,2):
  print(i)

('abaco', 'banana')
('abaco', 'zorro')
('abaco', 'abba')
('abaco', 'abecedario')
('banana', 'zorro')
('banana', 'abba')
('banana', 'abecedario')
('zorro', 'abba')
('zorro', 'abecedario')
('abba', 'abecedario')

In [136]:
prova = {
    'a': 1,
    'c': 2,
    'b': 3
}
k = list(prova.keys())
k.sort()
k

['a', 'b', 'c']